# Python
__pycache__/
*.py[cod]
*$py.class

# Env files
.env
env/
venv/
ENV/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.so

# Coverage reports
htmlcov/
.coverage

# Migrations (optional to ignore)
*/migrations/*.py
*/migrations/*.pyc

# Others
*.DS_Store
